@charset "UTF-8";

#title {
    font-size: 240px;
  text-align: center;
  margin-top:0px;
  margin-right: 0px;
  margin-bottom: -170px;
  margin-left: 0px;
height:90vh;
line-height: 90vh;
  color: #fcedd8;
  background: #d52e3f;
     font-family: 'Niconne', cursive;
  font-weight: 700;
text-shadow: 5px 5px 0px #eb452b, 
            10px 10px 0px #efa032, 
            15px 15px 0px #46b59b, 
            20px 20px 0px #017e7f, 
            25px 25px 0px #052939, 
            30px 30px 0px #c11a2b, 
            35px 35px 0px #c11a2b, 
            40px 40px 0px #c11a2b, 
            45px 45px 0px #c11a2b;
}

aside.subtitle {
    text-align: center;
    font-family: "Niconne";
    font-size:1.5rem;
 
}

p {
text-align: center;
font-family: "Niconne";
font-size:1.2rem;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a.design {
color: #000000;
text-decoration: none;
font-family: 'Niconne', cursive;
font-size: 1.2rem;
}